@use "./../../../styles/variables" as variables;

.userMenu {
  background-color: variables.$theme-color-dark;
  width: 20%;
  height: 100%;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &Avatar {
    height: 32px;
    width: 32px;
    svg {
      path {
        fill: variables.$theme-color;
      }
    }
  }
}

@media (max-width: 1080px) {
  .userMenu {
    // width: 30%;
    display: none;
  }
}
