@import "./../../styles/variables";

.password {
  width: 90%;
  margin: 0 auto;
  padding: 50px 70px;
  border: 1px solid $theme-color-light;
  border-radius: 10px;
  &InputRow {
    column-gap: 20px;
    &Element {
      width: 30%;
      label {
        color: $theme-color-dark;
        margin-bottom: 10px;
        display: block;
        font-size: 20px;
      }
      input {
        width: 100%;
        color: $theme-color-dark;
        padding: 10px 10px;
        border: 1px solid $theme-color-light;
        border-radius: 10px;
      }
    }
  }
  &ButtonRow {
    justify-content: flex-end;
    width: 100%;
    margin-top: 50px;
    button {
      padding: 20px 30px;
      background-color: $theme-color-dark;
      color: $theme-color-light;
      border-radius: 10px;
      font-size: 20px;
    }
  }
}

@media (max-width: 1080px) {
  .password {
    &InputRow {
      flex-direction: column;
      row-gap: 40px;
      &Element {
        width: 100%;
      }
    }
    &ButtonRow {
      justify-content: center;
    }
  }
}
