@use "./../../../styles/variables" as variables;

.cardProduct {
  height: 100%;
  column-gap: 20px;
  &Image {
    width: 40%;
    height: 500px;
    position: relative;
    img {
      object-fit: contain;
    }
  }
  &Info {
    width: 60%;
    color: variables.$theme-color-dark;
    &Title {
      font-size: 45px;
      margin-bottom: 20px;
      span {
        color: variables.$theme-color-light;
        font-size: 20px;
      }
    }
    &Price {
      font-size: 30px;
      color: variables.$theme-second-color;
      margin-bottom: 20px;
    }
    &Description {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1080px) {
  .cardProduct {
    display: block !important;
    &Image {
      width: 100%;
      height: 200px;
    }
    &Info {
      width: 100%;
      &Description {
        font-size: 12px;
      }
    }
  }
}
