@use "./../../../styles/variables" as variables;

.menu {
  padding-top: 50px;
  border-bottom: 1px solid variables.$theme-color-dark;
  margin-bottom: 50px;
  button {
    font-size: 20px;
    border: 1px solid variables.$theme-color-dark;
    border-bottom: none;
    padding: 10px 15px;
    color: variables.$theme-color-dark;
    &:last-child {
      border-left: none;
    }
  }
}

.active {
  color: variables.$theme-default-color !important;
  background-color: variables.$theme-color-dark;
}
