@use "./../../../styles/variables" as variables;

.search {
  align-items: center;
  width: 50%;
  &Input {
    border: 1px solid variables.$theme-color-light;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    width: 100%;
    color: variables.$theme-color-dark;
    &::placeholder {
      color: variables.$theme-color-light;
      font-size: 18px;
    }
  }
  &Button {
    border: 1px solid variables.$theme-color-light;
    border-left: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 5px 5px;
    svg {
      height: 25px;
      path {
        fill: variables.$theme-color;
      }
    }
  }
}

@media (max-width: 1080px) {
  .search {
    width: 90%;
  }
}
