@use "./../../../styles/variables" as variables;

.content {
  width: 90%;
  margin: 0 auto;
  &Logout {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    button {
      padding: 10px 15px;
      background-color: variables.$theme-color-dark;
      color: variables.$theme-color-light;
      border-radius: 10px;
      font-size: 20px;
    }
  }
}
.password {
  width: 100%;
  padding: 50px 70px;
  border: 1px solid variables.$theme-color-light;
  border-radius: 10px;
  &InputRow {
    column-gap: 20px;
    &Element {
      width: 30%;
      label {
        color: variables.$theme-color-dark;
        margin-bottom: 10px;
        display: block;
        font-size: 20px;
      }
      input {
        width: 100%;
        color: variables.$theme-color-dark;
        padding: 10px 10px;
        border: 1px solid variables.$theme-color-light;
        border-radius: 10px;
      }
    }
  }
  &ButtonRow {
    justify-content: flex-end;
    width: 100%;
    margin-top: 50px;
    button {
      padding: 20px 30px;
      background-color: variables.$theme-color-dark;
      color: variables.$theme-color-light;
      border-radius: 10px;
      font-size: 20px;
    }
  }
}

.user {
  color: variables.$theme-color;
  margin-bottom: 20px;

  span {
    font-weight: 700;
    color: variables.$theme-color-dark;
  }
}

@media (max-width: 1080px) {
  .password {
    &InputRow {
      flex-direction: column;
      row-gap: 40px;
      &Element {
        width: 100%;
      }
    }
    &ButtonRow {
      justify-content: center;
    }
  }
}
