@import "./../../styles/variables";

.history {
  width: 90%;
  margin: 0 auto;
  &Title {
    margin-bottom: 50px;
    h1 {
      color: $theme-color-dark;
    }
  }
  &Elements {
    &Element {
      align-items: center;
      padding: 10px 0;
      margin-bottom: 10px;
      border-bottom: 1px solid $theme-color-light;
      justify-content: space-between;
      p {
        color: $theme-color-dark;
      }
      button {
        padding: 10px 15px;
        background-color: $theme-color-dark;
        color: $theme-color-light;
        border-radius: 10px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 480px) {
  .UserCompany {
    display: none;
  }
}
