@use "./../../../styles/variables" as variables;

.product {
  max-width: 300px;
  width: 30%;
  flex-direction: column;
  &Image {
    margin-bottom: 20px;
    &:hover {
      cursor: pointer;
    }
    &Sale {
      position: absolute;
      width: 60px;
      height: 40px !important;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: variables.$theme-default-color;
      background-color: variables.$theme-second-color;
      top: 20px;
      left: 20px;
      font-size: 20px;
      z-index: 5;
    }
    border-radius: 10px;
    padding: 30px;
    position: relative;
    max-height: 300px;
    max-width: 300px;
    min-height: 300px;
    min-width: 300px;
    height: 100%;
    width: 100%;
    img {
      object-fit: contain;
      z-index: 1;
    }
  }
  &Info {
    margin-bottom: 20px;
    color: variables.$theme-color-dark;
    justify-content: space-between;
    align-items: center;
    &Price {
      &Sale {
        color: variables.$theme-second-color !important;
      }
      align-items: center;
      column-gap: 10px;
      p {
        color: variables.$theme-color-dark;
        font-size: 22px;
      }
      span {
        text-decoration: line-through;
        opacity: 0.5;
        color: variables.$theme-color-light;
      }
    }
    &Availability {
      span {
        font-size: 16px;
        color: variables.$theme-color-light;
      }
    }
  }
  &Title {
    color: variables.$theme-color-dark;
    font-size: 18px;
    margin-bottom: 20px;
    h2 {
      color: variables.$theme-color-dark;
      font-weight: normal;
      font-size: 18px;
      span {
        font-size: 16px;
        color: variables.$theme-color-light;
      }
    }
  }
  &Action {
    justify-content: space-between;
    &Input {
      align-items: center;
      &Add {
        svg {
          transform: rotate(180deg);
          height: 10px;
          path {
            fill: variables.$theme-color;
          }
        }
      }
      &Substract {
        svg {
          height: 10px;
          path {
            fill: variables.$theme-color;
          }
        }
      }
      input {
        margin: 0 20px;
        width: 20px;
        height: 23px;
        text-align: center;
        font-size: 16px;
        color: variables.$theme-color-dark;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          appearance: none;
          -moz-appearance: textfield;
        }
      }
    }
    &Order {
      background: variables.$theme-color;
      padding: 7px 10px;
      border-radius: 10px;
      color: variables.$theme-default-color;
      font-size: 16px;
    }
  }
}

@media (max-width: 1300px) {
  .product {
    width: 45%;
  }
}

@media (max-width: 780px) {
  .product {
    width: 100%;
  }
}
