@import "./../../styles/variables";

.menu {
  padding-top: 50px;
  border-bottom: 1px solid $theme-color-dark;
  margin-bottom: 50px;
  button {
    font-size: 20px;
    border: 1px solid $theme-color-dark;
    border-bottom: none;
    padding: 10px 15px;
    color: $theme-color-dark;
    &:last-child {
      border-left: none;
    }
  }
}

.active {
  color: $theme-default-color !important;
  background-color: $theme-color-dark;
}

@media (max-width: 780px) {
  .menu {
    border-bottom: none;
    padding: 0;
    justify-content: center;
    button {
      border-bottom: 1px solid $theme-color-dark;
    }
  }
}
